body
{
   margin: 0;
    max-width:1200px;
}


/* Sidebar styles */
.sidebar {
    position: fixed;
    height: 100%;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.3s;
    z-index:3;
    width:250px;
    
}

/* Container styles */
.container {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    position: relative;
    padding: 0.01em 16px;
}



/* Logo text */
.logo-text {
    letter-spacing: 4px;
    margin: 10px 0;
    font-family:"Montserrat", sans-serif;
    font-size: 24px;
    letter-spacing: 4px;
}

/* Navigation items */
.nav-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    text-decoration: none;
    outline: 0;
    font-family: "Roboto", sans-serif;
}

/* Button styles */
.button:hover {
    background-color: #f1f1f1;
    color: #000;
}


/* Padding utility */
.list {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
    color: #757575;
    font-weight: bold;
    font-size: 18px !important;
}

.padding {
    padding: 8px 16px;
}/* Light grey background */
.light-grey {
    background-color: #f1f1f1;
}



/* Responsive hide for large screens */
@media (min-width: 993px) {
    .hide-large {
        display: none !important;
    }
}
